@font-face {
    font-family: 'Open Sans';
    src: url('OpenSansLight-Italic.eot');
    src: url('OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('OpenSansLight-Italic.woff2') format('woff2'),
        url('OpenSansLight-Italic.woff') format('woff'),
        url('OpenSansLight-Italic.ttf') format('truetype'),
        url('OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.eot');
    src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Bold.woff2') format('woff2'),
        url('OpenSans-Bold.woff') format('woff'),
        url('OpenSans-Bold.ttf') format('truetype'),
        url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.eot');
    src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Light.woff2') format('woff2'),
        url('OpenSans-Light.woff') format('woff'),
        url('OpenSans-Light.ttf') format('truetype'),
        url('OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-BoldItalic.eot');
    src: url('OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-BoldItalic.woff2') format('woff2'),
        url('OpenSans-BoldItalic.woff') format('woff'),
        url('OpenSans-BoldItalic.ttf') format('truetype'),
        url('OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/* Mobile Version 450px */
body {
    /* background: white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: black;
    color: white;
    max-width: 1600px;
    font-size: 16px;
}

* {
    border: 1px solid lightcoral;
    box-sizing: border-box;
}

 /* Header section */
.header-section {
    background-color: black;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choose-text {
    color: white;
    font-family: "OpenSans", sans-serif;
    font-weight: lighter;
    font-size: 1.15rem;
}

.section-list-container {
    text-align: center;
}

.section-list {
    color: #000;
    text-align: center;
}

/* Section List drop down */
select {
    background: #fff;
    color: #000;
    font-size: 1rem;
}

/* Main - Section */
.main-section {
    display: flex;
    flex-wrap: wrap;
}

.news-abstract {
    width: 50%;
}

/* .news-image {

} */

/* .style-image {
    background: linear-gradient(rgba(0,0,0,0.3));
    background-position: center;
    background-repeat: no-repeat;
} */

/* Footer Section */
.footer-section {
    background-color: black;
    text-align: center;
    flex-grow: 0.5;
}

.copyright-text {
    font-family: "OpenSans", sans-serif;
    font-weight: lighter;
    align-self: flex-end;
    font-size: 1rem;
    color: gray;
}

 /* Media Queries for Tablet Version */
@media (min-width: 600px) {

    /* Header Section */
    .header-section {
        flex-direction: row;
    }

    .options-container {
        display: flex;
       flex-direction: column;
       justify-content: center;
    }

    /* Main Section */
    /* .main-section {
        flex-shrink: 4;
    } */

    /* Footer Section */
    .footer-section {
        flex-grow: 0.2;
    }
}

 /* Media Queries for Desktop Version */
 @media (min-width: 1000px) {
     
    /* Header Section */
    .header-section {
        justify-content: flex-start;
    }

    .nyt-img {
        flex-grow: 0.09;        
    }

    .options-container {
        flex-grow: 0.2;
    }
    
    /* Footer Section */
  .footer-section {
      display: flex;
  }

  .copyright-text {
      align-self: center;
      flex-grow: 0.15;
  }

 }
