/* Mobile Version 450px */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: #ffffff;
    max-width: 1600px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}

* {
    box-sizing: border-box;
}

 /* Header section */
.header-section {
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 4rem;
    transition: 2s;
    @include tablet{
        justify-content: center;
        flex-direction: row;
        padding-bottom: 1.8rem;
        // padding-top: 6rem;
    }
    @include desktop {
        justify-content: flex-start;
    }
}

.loading-gif-div {
    justify-content: center;
}

.loading-gif {
    display: none;
    width: 6rem;
    height: 6rem;
}

.nyt-img {
    max-width: 30%;
    max-height: 30%;
    align-self: center;
    flex-grow: 0;
    padding-top: 10rem;
    padding-bottom: 2rem;
    @include desktop {
        padding-left: 4rem;
    }
}

.options-container {
    flex-direction: column;
    justify-content: space-around;
    @include tablet {
        display: flex;
        padding-right: 7rem;
        padding-left: 1rem;
    }
    @include desktop {
        flex-grow: 0.2;
        padding-left: 0;
        padding-right: 2rem;
    }
    .choose-text {
        color: white;
        font-family: "OpenSans", sans-serif;
        font-size: 1.15rem;
        padding-bottom: 8rem;
        @include tablet {
            padding-top: 12rem;
            padding-bottom: 0;
        }
    }
    .section-list-container {
        text-align: center;
        padding-top: 2rem;
        @include tablet {
            padding-top: 0;
            padding-bottom: 6rem;
        }
    }
    .section-list {
        color: #000;
        text-align: center;
    }
}

// Header on click/change event
.active-header {
    flex-grow: 0;
    padding-bottom: 2rem;
    @include tablet {
        padding-top: 0;
        padding-bottom: 0;
        max-height: 9rem;
    }
    .options-container {
        @include tablet {
            padding-left: 2rem;
        }
        @include desktop {
            padding-right: 14rem;
        }
        label {
            font-size: 1.12rem;
            @include tablet {
                font-size: 1rem;
            }
        }
        .choose-text {
            @include tablet {
                padding-top: 1.5rem;
            }
        }
        .section-list-container {
            @include tablet {
                padding-bottom: 2rem;
            }
        }
    }
    .nyt-img {
        padding-top: 2rem;
        @include tablet {
            flex-grow: 0;
            max-width: 12%;
            max-height: 12%;
        }
    }
}

/* Section List drop down */
select {
    background: #fff;
    color: #000;
    font-size: 1rem;
}

/* Main - Section */
.main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.news-item-container {
    height: 30rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    img {
        transition: 0.5s;
    }
    &:hover {
        background: rgba(0,0,0,0.488);
        img {
            transform: scale(1.1);
        }
        .text-block {
            padding-bottom: 0.5rem;
            transform:translateY(0);
        }
    }
    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 25%;
    }
}

.article-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-block {
    position: absolute;
    background: rgba(0,0,0,0.60);
    color: white;
    display: flex;
    padding: 0 0.4rem 0 0.4rem;
    width: 100%;
    transition: 0.3s;
    transform:translateY(100%);
    p {
        line-height: 1.5rem;
    }
}

/* Footer Section */
.footer-section {
    background-color: black;
    text-align: center;
    padding: 2rem 0 2rem 0;
    @include tablet {
        flex-grow: 0.2;
    }
    @include desktop {
        display: flex;
    }
}

.copyright-text {
    font-family: "OpenSans", sans-serif;
    font-weight: lighter;
    align-self: flex-end;
    font-size: 1rem;
    color: #c2c2c2;
    @include desktop {
      align-self: center;
      flex-grow: 0.15;
    }
}