/* Mobile Version 450px */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: #ffffff;
    max-width: 1600px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}

* {
    // border: 1px solid lightcoral;
    box-sizing: border-box;
}

 /* Header section */
.header-section {
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    @include tablet{
        justify-content: center;
        flex-direction: row;
        padding-bottom: 1.8rem;
    }
    @include desktop {
        justify-content: flex-start;
    }
}

.loading-gif-div {
    justify-content: center;
}

.loading-gif {
    display: none;
    width: 6rem;
    height: 6rem;
}

.nyt-img {
    width: 35%;
    height: 40%;
    align-self: center;
    @include tablet {
        width: 14vw;
        margin-right: 5rem;
    }
    @include desktop {
        width: 20vw;
        // flex-grow: 0.10;
        margin-left: 5rem;
    }
}

.options-container {
    .choose-text {
        color: white;
        font-family: "OpenSans", sans-serif;
        font-weight: lighter;
        font-size: 1.15rem;
    }
    .section-list-container {
        text-align: center;
    }
    .section-list {
        color: #000;
        text-align: center;
    }
    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @include desktop {
        flex-grow: 0.2;
    }
}

// Header on change event
.active {
    flex-grow: 0;
    padding-bottom: 2rem;
    .nyt-img {
        @include tablet {
            padding-top: 2rem;
        }
        @include desktop {
            width: 10vw;
            // padding-top: 2rem;
        }
    }
}

/* Section List drop down */
select {
    background: #fff;
    color: #000;
    font-size: 1rem;
}

/* Main - Section */
.main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.news-item-container {
    height: 30rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 25%;
    }
}

.article-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-block {
    position: absolute;
    background: rgba(0,0,0,0.57);
    color: white;
    display: flex;
    padding: 0 0.4rem 0 0.4rem;
    width: 100%;
    transition: 0.3s;
    &:hover {
    background: rgba(0,0,0,0.488);
    letter-spacing: 0.155px;
    }
    p {
        line-height: 1.5rem;
    }
}

/* Footer Section */
.footer-section {
    background-color: black;
    text-align: center;
    padding: 2rem 0 2rem 0;
    @include tablet {
        flex-grow: 0.2;
    }
    @include desktop {
        display: flex;
    }
}

.copyright-text {
    font-family: "OpenSans", sans-serif;
    font-weight: lighter;
    align-self: flex-end;
    font-size: 1rem;
    color: #c2c2c2;
    @include desktop {
      align-self: center;
      flex-grow: 0.15;
    }
}
 
