/* Mobile Version 450px */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: #ffffff;
    max-width: 1600px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

* {
    // border: 1px solid lightcoral;
    box-sizing: border-box;
}

 /* Header section */
.header-section {
    background-color: black;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet{
        justify-content: flex-start;
        flex-direction: row;
    }
    @include desktop {
        justify-content: flex-start;
    }
}

.nyt-img {
    @include desktop {
        flex-grow: 0.09;           
    }
}

.options-container {
    .choose-text {
        color: white;
        font-family: "OpenSans", sans-serif;
        font-weight: lighter;
        font-size: 1.15rem;
    }
    .section-list-container {
        text-align: center;
    }
    .section-list {
        color: #000;
        text-align: center;
    }
    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @include desktop {
        flex-grow: 0.2;
    }
}

/* Section List drop down */
select {
    background: #fff;
    color: #000;
    font-size: 1rem;
}

/* Main - Section */
.main-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
    a:last-child {
    height: 30rem;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .article-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    }
}

.news-item-container {
    height: 30rem;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.article-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-block {
    position: absolute;
    background: rgba(0,0,0,0.57);
    color: white;
    display: flex;
    padding: 0 0.4rem 0 0.4rem;
    width: 100%;
    p {
        line-height: 1.5rem;
    }
}

/* Footer Section */
.footer-section {
    background-color: black;
    text-align: center;
    flex-grow: 0.5;
    @include tablet {
        flex-grow: 0.2;
    }
    @include desktop {
        display: flex;
    }
}

.copyright-text {
    font-family: "OpenSans", sans-serif;
    font-weight: lighter;
    align-self: flex-end;
    font-size: 1rem;
    color: #c2c2c2;
    @include desktop {
      align-self: center;
      flex-grow: 0.15;
    }
}
 
