.section-list-container {
    align-self: center;
}

.selectric {
    // background-color: black;
    width: 10rem;
    color: white;
    // align-self: center;
}

.selectric-scroll {
    color: white;
}