.section-list-container {
    align-self: center;
    text-align: center;
   
}

.selectric-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    .selectric-items{
        left:auto;
    }
}

.selectric {
    width: 9rem;
    height: 2.6rem;
    border-radius: 10px 10px 10px 10px;
    justify-content: center;
    .label {
        font-size: 1.01111rem;
        font-family: 'Open Sans', sans-serif;
    }
}

.selectric-scroll {
    color: white;
    ul {
        li {
            font-size: 1.01111rem;
            font-weight: 300;
        }
    }
}